# Ignore Gradle project-specific cache directory
.build
.gradle
bin
gradle
obj

# Ignore Gradle build output directory
build/java/build
build/kotlin/build
build/kotlin/app/build

# Ignore Log files
*.log
